.main-banner{
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  align-items: center; 
  margin: 2.5rem 0 0 10px ;
  justify-content: center;
  animation: fadeIn 0.6s ease-out forwards;
}

.main-banner p:nth-child(1), .main-banner p:nth-child(2){
  font-size: 3rem;
  line-height: 2rem;
  width: 100%;
  
}

.main-banner p:nth-child(3){
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  width: 12rem;
  font-weight: 400;
  /* text-wrap: nowrap; */
}

.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-container{
  position: relative;
  height: 180px;
}
.bg-main-gradient{
  position: absolute;
  width: 150px;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(120,120,121,0.9271358201483718) 43%, rgba(136,137,140,0.8823178929775035) 59%, rgba(6,31,36,0) 100%);
  left: -70px;
}

/* ABOUT ME SECTION      */
.about-me-cont{
  line-height: 1rem;
}

.about-me-cont p:nth-child(1), .work-exp-title, .education-title, .contact-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 10px 0.5rem 10px;
  animation: fadeIn 0.6s ease-out forwards;

}

.about-me-cont p{
  animation: fadeIn 0.6s ease-out forwards;
}

.about-me-cont p:nth-child(2){
  font-size: 0.8rem;
  margin: 0 10px;
}

/* WORK EXPERIENCE     */

.work-exp-comp{
  display: flex;
  flex-direction: row;
  gap: clamp(10px, 5vw, 4rem);
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 1rem;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.5rem 10px 0 10px;
  height: 4rem;
  animation: fadeIn 0.6s ease-out forwards;
}

.work-exp-comp img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-left: auto;

}

.work-exp-comp div:nth-child(1){
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
}

.text-cont p:nth-child(1){
  font-size: 1rem;
  font-weight: bold;
}

.text-cont .description{
  margin-top: 0.5rem;
  line-height: 12px;
  font-size: 0.7rem;
}


.contact-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #D9D9D9;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  animation: fadeIn 0.6s ease-out forwards;

}

.contact-container div p:nth-child(1){
  font-weight: bold;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}